<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">OVSMirrorWatch</div>
                <a class="nav-link" href="{% url 'home' %}">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Dashboard
                </a>

                <div class="sb-sidenav-menu-heading">Mirror Components</div>
                <a class="nav-link" href="{% url 'mirror-manage'%}">
                    <div class="sb-nav-link-icon">
                        <span class="fa-stack fa-sm">
                            <i class="fa-solid fa-shuffle fa-stack-2x"></i>
                            <i class="fa-solid fa-gear fa-stack-1x botton-right"></i>
                        </span>
                    </div>
                    Manage Mirrors, Switches, Ports
                </a>
                <a class="nav-link" href="{% url 'mirror-add'%}"> 
                    <div class="sb-nav-link-icon">
                        <span class="fa-stack fa-sm">
                            <i class="fa-solid fa-shuffle fa-stack-2x"></i>
                            <i class="fa-solid fa-circle-plus fa-stack-1x botton-right"></i>
                        </span>
                    </div>
                    Add Mirror
                </a>

                <a class="nav-link" href="{% url 'bridge-add'%}"> 
                    <div class="sb-nav-link-icon">
                        <span class="fa-stack fa-sm">
                            <i class="fa-solid fa-right-left fa-stack-2x"></i>
                            <i class="fa-solid fa-circle-plus fa-stack-1x botton-right"></i>
                        </span>
                    </div>
                    Add Switch
                </a>

                <a class="nav-link" href="{% url 'port-add'%}"> 
                    <div class="sb-nav-link-icon">
                        <span class="fa-stack fa-sm">
                            <i class="fa-solid fa-ethernet fa-stack-2x"></i>
                            <i class="fa-solid fa-circle-plus fa-stack-1x botton-right"></i>
                        </span>
                    </div>
                    Add Port
                </a>

                <div class="sb-sidenav-menu-heading">OVSDB Managers</div>
                <a class="nav-link" href="{% url 'manager-manage' %}">
                    <div class="sb-nav-link-icon"><i class="bi bi-database-gear"></i></div>
                    Manage OVSDB Managers
                </a>
                <a class="nav-link" href="{% url 'manager-add' %}">
                    <div class="sb-nav-link-icon"><i class="bi bi-database-add"></i></div>
                    Add OVSDB Manager
                </a>
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Logged in as:</div>
            {{user.username}}
        </div>
    </nav>
</div>
